@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://db.onlinewebfonts.com/c/13ab13418f633c1b0516fed6e30bedbc?family=Suisse+Int%27l);

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Headings */

  --text-balance: 76px;
  --text-balance--line-height: 100%;
  --text-balance--letter-spacing: -3%;
  --text-balance--font-weight: 450;

  --text-h1: 48px;
  --text-h1--line-height: 100%;
  --text-h1--letter-spacing: -3%;
  --text-h1--font-weight: 450;

  --text-h2: 32px;
  --text-h2--line-height: 100%;
  --text-h2--letter-spacing: -3%;
  --text-h2--font-weight: 450;

  --text-h3: 24px;
  --text-h3--line-height: 100%;
  --text-h3--letter-spacing: -2%;
  --text-h3--font-weight: 450;

  --text-h4: 20px;
  --text-h4--line-height: 100%;
  --text-h4--letter-spacing: -2%;
  --text-h4--font-weight: 450;

  /* Paragraph */
  --text-paragraph-18: 18px;
  --text-paragraph-18--line-height: 130%;
  --text-paragraph-18--letter-spacing: -1%;
  --text-paragraph-18--font-weight: 450;

  --text-paragraph-16: 16px;
  --text-paragraph-16--line-height: 130%;
  --text-paragraph-16--letter-spacing: -1%;
  --text-paragraph-16--font-weight: 450;

  --text-paragraph-14: 14px;
  --text-paragraph-14--line-height: 130%;
  --text-paragraph-14--letter-spacing: -1%;
  --text-paragraph-14--font-weight: 450;

  /* Caption */
  --text-caption-12: 12px;
  --text-caption-12--line-height: 130%;
  --text-caption-12--letter-spacing: 0%;
  --text-caption-12--font-weight: 450;

  --text-caption-12-100: 12px;
  --text-caption-12-100--line-height: 100%;
  --text-caption-12-100--letter-spacing: 0%;
  --text-caption-12-100--font-weight: 450;

  --text-caption-10: 10px;
  --text-caption-10--line-height: 130%;
  --text-caption-10--letter-spacing: 0%;
  --text-caption-10--font-weight: 450;

  /* Mono */
  --text-mono-18: 12px;
  --text-mono-18--font-family: 12px;
  --text-mono-18--line-height: 100%;
  --text-mono-18--letter-spacing: 0%;
  --text-mono-18--font-weight: 450;

  --text-mono-16: 12px;
  --text-mono-16--line-height: 10%;
  --text-mono-16--letter-spacing: 0%;
  --text-mono-16--font-weight: 450;

  --text-mono-14: 14px;
  --text-mono-14--line-height: 100%;
  --text-mono-14--letter-spacing: 0%;
  --text-mono-14--font-weight: 450;

  --text-mono-12: 12px;
  --text-mono-12--line-height: 100%;
  --text-mono-12--line-height: 100%;
  --text-mono-12--letter-spacing: 0%;
  --text-mono-12--font-weight: 450;

  --text-mono-10: 10px;
  --text-mono-10--line-height: 100%;
  --text-mono-10--letter-spacing: 0%;
  --text-mono-10--font-weight: 450;

  /* Numbers */
  --text-number: 64px;
  --text-number--line-height: 100%;
  --text-number--letter-spacing: -4%;
  --text-number--font-weight: 450;

  --font-sans: "Suisse Int'l";
  --font-mono: "Chivo Mono", monospace;

  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Added */
  --color-primary: var(--primary);

  --color-secondary: var(--secondary);
  --color-secondary-active: var(--secondary-active);

  --color-card: var(--card);

  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-accent-active: var(--accent-active);

  --color-muted: var(--muted);

  --color-waring: var(--waring);
  --color-waring-hover: var(--waring-hover);
  --color-waring-active: var(--waring-active);

  --color-red: var(--red);
  --color-critical: var(--critical);
  --color-critical-hover: var(--critical-hover);
  --color-critical-active: var(--critical-active);

  --color-border: var(--border);

  --color-icon-green: var(--icon-green);
  --color-positive: var(--positive);

  --color-surface-sunken: var(--surface-sunken);
  --color-on-sunken: var(--on-sunken);
  --color-dialog-window-bg: var(--dialog-window-bg);
  
  --color-primary-inverse: var(--primary-inverse);
  --color-secondary-inverse: var(--secondary-inverse);
}

:root {
  --primary: rgba(16, 16, 16, 1);

  --secondary: rgba(16, 16, 16, 0.6);
  --secondary-active: rgba(16, 16, 16, 0.12);

  --card: rgba(255, 255, 255, 1);

  --muted: rgba(16, 16, 16, 0.4);

  --accent: rgba(0, 84, 246, 1);
  --accent-hover: rgba(11, 21, 218, 1);
  --accent-active: rgba(0, 9, 189, 1);

  --warning: rgba(255, 136, 0, 1);
  --warning-hover: rgba(244, 130, 0, 1);
  --warning-active: rgba(229, 123, 2, 1);

  --red: rgba(242, 58, 58, 1);
  --critical: rgba(255, 79, 79, 1);
  --critical-hover: rgba(242, 58, 58, 1);
  --critical-active: rgba(222, 33, 33, 1);

  --border: rgba(16, 16, 16, 0.08);

  --icon-green: rgba(29, 181, 89, 1);
  --positive: rgba(70, 209, 125, 0.15);

  --surface-sunken: rgba(245, 245, 245, 1);
  --on-sunken: rgba(16, 16, 16, 0.06);

  --primary-inverse: rgba(255, 255, 255, 1);
  --secondary-inverse: rgba(255, 255, 255, 0.45);

  --dialog-window-bg: rgba(16, 16, 16, 0.45);

  --radius: 0.625rem;
}

.dark {
  --primary: rgba(255, 255, 255, 1);
  --secondary: rgba(255, 255, 255, 0.6);
  --secondary-active: var(--secondary-active);

  --card: rgba(20, 20, 20, 1);
  --muted: var(--color-muted);

  --accent: rgba(0, 84, 246, 1);
  --accent-hover: rgba(11, 21, 218, 1);
  --accent-active: rgba(0, 9, 189, 1);

  --warning: rgba(255, 136, 0, 1);
  --warning-hover: rgba(244, 130, 0, 1);
  --warning-active: rgba(229, 123, 2, 1);

  --red: rgba(242, 58, 58, 1);
  --critical: rgba(255, 79, 79, 1);
  --critical-hover: rgba(242, 58, 58, 1);
  --critical-active: rgba(222, 33, 33, 1);

  --border: rgba(43, 45, 46, 1);

  --icon-green: rgba(29, 181, 89, 1);
  --positive: rgba(70, 209, 125, 0.15);

  --surface-sunken: rgba(0, 0, 0, 1);
  --on-sunken: var(--color-on-sunken);

  --primary-inverse: var(--color-primary-inverse);
  --secondary-inverse: var(--color-secondary-inverse);

  --dialog-window-bg: rgba(16, 16, 16, 0.45);
  
  --radius: 0.625rem;
}

@layer base {
  .text-mono-10,
  .text-mono-12,
  .text-mono-14,
  .text-mono-16,
  .text-mono-18 {
    font-family: var(--font-mono);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-surface-sunken text-primary mx-auto;
  }
}

@layer components {
  .app {
    @apply h-screen flex flex-col w-screen;
  }
  .custom-container {
    @apply w-full mx-auto;
    @apply sm:max-w-[40rem]; /* 640px */
    @apply md:max-w-[48rem]; /* 768px */
    @apply lg:max-w-[64rem]; /* 1024px */
    @apply xl:max-w-[80rem]; /* 1280px */
    @apply 2xl:max-w-[90rem]; /* 1440px, burada '2xl' kullanıyoruz varsayılan tailwind breakpoints'e göre */
  }

  .custom-tab-trigger {
    @apply uppercase py-3.5 px-1 hover:bg-secondary/10 cursor-pointer flex items-center gap-1 text-secondary;
  }
  .custom-tab-indicator {
    @apply absolute bottom-0 left-0 h-0.5 bg-accent transition-all duration-300;
  }
}
